#about {
  background: rgba(0,0,0,.04);

  .container {
    .text {
      padding-top: 48px;
      padding-bottom: 24px;
      color: #222;

      p {
        margin-bottom: 12px
      }

      @media (min-width: $screen-sm-min) {
        padding-top: 128px;
        padding-bottom: 80px;
      }

      @media (min-width: $screen-md-min) {
        padding-bottom: 128px;
      }
    }
  }

  h2 {
    margin-bottom: 12px;
    font-family: $roboto;
    font-size: $h1-size;

    @media (min-width: $screen-sm-min) {
      margin-bottom: 32px;
    }
  }

  p {
    font-family: $source;
    font-size: $text-size;
    font-weight: 300;

    strong {
      color: $color-dark;
      font-weight: 700;
    }

    @media (min-width: $screen-sm-min) {
      font-size: $text-size-sm;
    }
  }


}