
h1 {
  font-size: 48px;
}

a, a:hover {
  color: $color-accent;
  text-decoration: none;

  &:hover {
    color: $color-dark;
  }
}

#header {
  margin-bottom: 100px;
  padding-top: 80px;
  border: none;

  h1 {
    padding-bottom: 12px;
    color: $color-dark;
    font-family: $roboto;
    font-size: $h1-size;
    font-weight: 300;
  }

  h2 {
    color: $color-light;
    font-family: $arbutus;
    font-size: $h2-size;
  }
}

p {
  color: $color-dark;
}


