// list of social networks and email
.contact {
  display: inline-block;
  font-family: $source;
  font-size: $text-size;
  font-weight: 400;

  li {
    margin-left: 8px;

    a {
      color: $color-accent;
    }
  }
}