#footer {
  margin-top: 40px;
  padding: 40px 0;
  font-size: $text-size-footer;

  .contact {
    margin-bottom: 16px;
    text-align: center;

    @media (min-width: $screen-sm-min) {
      position: relative;
      top: -2px;
      margin-bottom: 0;
      text-align: left;
    }

    @media (min-width: $screen-md-min) {
      top: -4px;
    }
  }

  .copyright {
    color: $color-mute;
    text-align: center;

    @media (min-width: $screen-sm-min) {
      text-align: right;
    }
  }

  @media (min-width: $screen-sm-min) {
    margin-top: 80px;
    font-size: $text-size-footer-sm;
  }
}