.project {
  padding-top: 80px;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    margin-bottom: 80px;
  }

  .featured {
    width: 100%;
    margin-bottom: 40px;

    @media (min-width: $screen-md-min) {
      margin-bottom: 56px;
    }
  }

  p {
    margin-bottom: 16px;
  }

  hr {
    width: 80%;
    border-top: thin dotted rgba(0, 0, 0, .24);
  }

  .header {
    margin-bottom: 40px;
  }

  .project-data {
    margin-bottom: 24px;

    h2 {
      margin-bottom: 4px;
      color: black;
      font-family: $arbutus;
      font-size: $project-h2-size;
    }

    h3 {
      margin-bottom: 24px;
      color: black;
      font-family: $source;
      font-size: $project-h3-size;
      font-weight: 400;
    }

    ul {
      li {
        margin-bottom: 12px;
        list-style: none;
        font-family: $source;
        font-size: $text-size;

        span {
          display: block;
          color: gray;
          font-family: $arbutus;
          font-size: $project-data-size;
          text-transform: uppercase;
          line-height: 24px;

          &.role::before { content: 'Role'; }
          &.website::before { content: 'Website'; }
          &.year::before { content: 'Year'; }
        }

        @media (min-width: $screen-sm-min) {
          font-size: $text-size-sm;
        }
      }
    }

    @media (min-width: $screen-sm-min) {
      margin-bottom: 60px;
    }
  }

  .project-description {
    margin-bottom: 0;

    p {
      font-family: $source;
      font-size: $text-size;
      font-weight: 300;
      line-height: 24px;

      @media(min-width: $screen-sm-min) {
        font-size: $text-size-sm;
      }
    }

    @media (min-width: $screen-sm-min) {
      margin-bottom: 60px;
    }
  }

  .images {
    margin-bottom: 0;

    img {
      width: 100%;
    }

    video {
      width: 100%;
    }

    @media (min-width: $screen-sm-min) {
      &:not(.last) {
        margin-bottom: 24px;
      }
    }
  }

  .container {
    .row.last {
      margin-bottom: 80px;
    }
  }
}

// exceptions for individual projects
#project-n9 {
  video {
    padding: 10px;
    background: black;
  }
}

#project-future-icons {
  .images {
    margin-bottom: 4px;
    padding: 20px 8px;
    background: #2b2b2b;

    img {
      margin: 0;
    }
  }
}

#project-evo {
  .images {
    img {
      margin-bottom: 24px;
      border: 1px solid rgba(0, 0, 0, .24);
    }
  }
}