// Fonts
$arbutus: 'Arbutus Slab', Georgia, serif;
$source: 'Source Sans Pro', Helvetica, Arial, sans-serif;

$h1-size: 36px;
$h2-size: 18px;
$h3-size: 18px;

$text-size: 18px;

$project-h2-size: $h1-size;
$project-h3-size: $h2-size;

$project-data-size: 12px;