id: wire
title: Wire
subtitle: Motion Guideline
thumbnail: /static/images/wire-cover.jpg
featured: /static/images/wire-cover.jpg
tags: Image
date: 02-12-2014

role: Head of Motion Design
year: 2014 to present
website: wire.com
websiteURL: http://wire.com

{% extends "post.html" %}
{% block body %}

<img class="featured full-width" src="{{ featured }}"/>

<div class="container">
  <div class="row last">
    <div class="project-data col-xs-12 col-sm-4 col-sm-offset-1">
      <h2>{{ title }}</h2>
      <h3>{{ subtitle }}</h3>

      <ul class="list-unstyled">
        <li>
          <span class="role"></span>
          {{ role }}
        </li>
        <li>
          <span class="year"></span>
          {{ year }}
        </li>
        <li>
          <span class="website"></span>
          <a href="{{ websiteURL }}">{{ website }}</a>
        </li>
      </ul>
    </div>

    <div class="project-description col-xs-12 col-sm-6">
{% filter markdown %}

Wire is a simple tool to communicate with text, voice, pictures and media — all beautifully woven together for modern devices. A startup backed by Janus Friis, co-founder of Skype.

As Head of UI Motion Design I’m responsible to lead the creation of Wire's motion guideline. A reference document that synthesises the reasoning behind the transitions and behaviour of Wire user interface and provides a consistent language for the application along the different platforms and devices.

The guideline contains a numerous set of prototypes covering the most important interactions of the product. It’s conceived as a living document that will grow and update as the product continues to develop new features and explore new interactions.

{% endfilter %}

    </div>
  </div>

  <hr>
</div>

{% endblock body %}