
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
      <div class="text">
        <h2>About</h2>
{% filter markdown %}

Cristóbal was born in Valencia, Spain. He studied Industrial Design at UCH-CEU in Valencia and got a Masters in Interface Design at Elisava School of Design in Barcelona in 2001. He co-founded Aer Studio in 2002, an interaction design studio located in Barcelona in which he worked until 2014 in the role of Interaction Director.

He has more than 12 years of experience working in digital products and services for clients such as [Nokia](http://www.nokia.com/), [Fjord](https://www.fjordnet.com) and [Telefónica R&amp;D](http://www.tid.es/) among others.

Since 2005 Cristobal has won several international awards like Communication Arts Annual in 2010, Grand Laus 09, Gold Price in the European Design Awards 2009 and Site of the Month by The FWA in December 2008 among others.

Since 2003 he has been involved in education, teaching classes and tutoring workshops all related with interaction design and creative programming. He has taught courses at Elisava Design School, Istituto Europeo de Design, Advanced Architecture Institute of Catalonia and Universidad del Norte in Colombia among others.

**Currently Cristobal lives and works in Berlin as Head of UI Motion Design at [Wire](http://wire.com)**.

{% endfilter %}
      </div>
    </div>
  </div>
</div>