
h1 {
  font-family: $source;
  font-weight: normal;
  font-size: 48px;
}

// header
#header {
  margin-bottom: 100px;
  padding-top: 80px;
  border: none;

  h1 {
    padding-bottom: 12px;
    font-family: $source;
    font-size: $h1-size;
    font-weight: 300;
  }

  h2 {
    font-family: $arbutus;
    font-size: $h2-size;
  }
}


