
h1 {
  font-family: $source;
  font-weight: normal;
  font-size: 48px;
}

#docs {
  opacity: .24;

  &:hover {
    opacity: 1;
  }
}

// list of social networks and email
.contact {
  display: inline-block;
  font-family: $source;
  font-size: $text-size;
  font-weight: 400;
}

// header
#header {
  padding-top: 80px;
  padding-bottom: 40px;
  border: none;

  h1 {
    padding-bottom: 12px;
    font-family: $source;
    font-size: $h1-size;
    font-weight: 300;
  }

  h2 {
    font-family: $arbutus;
    font-size: $h2-size;
  }
}

// project
#project-future-icons {
  .images {
    img {
      margin: 0;
    }
  }
}

#project-evo {
  .images {
    img {
      border: 1px solid rgba(0, 0, 0, .24);
    }
  }
}

.post {
  padding-top: 80px;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    margin-bottom: 80px;
  }

  .featured {
    max-width: 100%;
    margin-bottom: 40px;
  }

  p {
    margin-bottom: 16px;
  }

  .header {
    margin-bottom: 40px;
  }

  .project-data {
    margin-bottom: 60px;

    h2 {
      margin-bottom: 4px;
      color: black;
      font-family: $arbutus;
      font-size: $project-h2-size;
    }

    h3 {
      margin-bottom: 24px;
      color: black;
      font-family: $source;
      font-size: $project-h3-size;
      font-weight: 400;
    }

    ul {
      li {
        margin-bottom: 12px;
        list-style: none;
        font-family: $source;
        font-size: $text-size;

        span {
          display: block;
          color: gray;
          font-family: $arbutus;
          font-size: $project-data-size;
          text-transform: uppercase;
          line-height: 24px;

          &.role::before { content: 'Role'; }
          &.website::before { content: 'Website'; }
          &.year::before { content: 'Year'; }
        }
      }
    }
  }

  .project-description {
    margin-bottom: 60px;

    p {
      font-family: $source;
      font-size: $text-size;
      font-weight: 300;
      line-height: 24px;
    }
  }
}

// about
#about {
  .container {
    .text {
      padding: 80px;
      background: rgba(0,0,0,.04);
      color: #222;

      p {
        margin-bottom: 12px
      }
    }
  }

  h2 {
    margin-bottom: 12px;
    font-family: $arbutus;
    font-size: $h1-size;
  }

  p {
    font-family: $source;
    font-size: $text-size;
    font-weight: 300;

    strong {
      font-weight: 700;
    }
  }
}

// footer
#footer {
  margin-top: 40px;
  padding: 40px 0;

  .contact {
    margin-left: 8px;
  }
}