@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic|Arbutus+Slab);
/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Clearfix */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/* Spacing */
.post img {
  position: relative;
  width: 100%; }

.post img + img {
  margin-top: -20px; }

/* Base */
html, body {
  min-height: 100%; }

body {
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  position: relative; }

/* Link to Documentation */
#docs {
  position: fixed;
  top: 8px;
  right: 6px;
  background: #5badf0;
  color: #fff;
  padding: 8px 12px;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.35;
  border-radius: 3px;
  z-index: 100; }

#header {
  border-bottom: 1px solid #eee; }

img {
  max-width: 100%; }

#thumbnails {
  margin: 0 auto;
  margin-top: 60px;
  text-align: center; }

#thumbnails a {
  width: 49%;
  float: left;
  position: relative; }

#thumbnails a {
  margin-right: 2%;
  margin-top: 2%; }

#thumbnails a:nth-child(1), #thumbnails a:nth-child(2) {
  margin-top: 0; }

#thumbnails a:nth-child(2n) {
  margin-right: 0; }

#thumbnails a, #thumbnails a span {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

#thumbnails a img {
  display: block;
  background: #fff;
  width: 100%;
  height: auto; }

#thumbnails a span {
  color: #999;
  display: inline-block;
  display: none;
  font-size: 15px;
  font-weight: 400;
  margin: 20px 0; }

#thumbnails a:hover {
  opacity: .85; }

#thumbnails a:hover span {
  opacity: 1;
  visibility: visible; }

/* Made with Cactus Badge */
#badge {
  position: absolute;
  bottom: 8px;
  right: 8px;
  height: 48px;
  width: 48px; }

/* Type */
/* Accent color */
a {
  text-decoration: none;
  color: #5694f1;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

ul {
  margin: 0;
  padding: 0; }

/* Line Height */
.post-body,
p {
  line-height: 1.7; }

h1 {
  display: inline-block;
  line-height: 100%;
  color: #222;
  font-weight: 500;
  font-size: 19px;
  margin: 0;
  padding-bottom: 20px; }

h3 {
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 6px; }

h4 {
  font-size: 13px;
  font-weight: bold;
  color: #666;
  margin-bottom: 6px; }

p.small {
  color: #bbb;
  font-size: 14px;
  line-height: 1.5;
  display: block; }

/* Post Page */
#header {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px; }

#post-meta {
  font-size: 13px;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 40px;
  padding-top: 40px;
  border-top: 1px solid #eee;
  color: #444; }

#post-meta div {
  display: inline-block; }

#post-meta div span {
  color: #aaa;
  font-weight: 5 00;
  display: block;
  margin-bottom: 2px; }

#post-meta div.date {
  float: right;
  text-align: right;
  position: relative;
  top: 1px;
  font: 300 20px/1.8 "Helvetica Neue",helvetica,Arial,sans-serif;
  color: #aaa; }

#sharing {
  float: right;
  margin: -2px; }

#sharing a {
  font-size: 23px;
  margin-left: 2px;
  margin-top: 4px;
  color: #d4d4d4;
  display: inline-block;
  vertical-align: middle; }

#sharing a:hover {
  color: #444; }

/* Post Navigation */
#post-nav {
  border-top: 1px solid #eee;
  text-align: center;
  padding-top: 20px;
  font-size: 13px;
  font-weight: 500; }

#post-nav span {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  position: relative; }

#post-nav span.prev {
  float: left; }

#post-nav span.next {
  float: right; }

#post-nav span .arrow {
  position: relative;
  padding: 1px; }

#post-nav span.prev:hover .arrow {
  left: -4px; }

#post-nav span.next:hover .arrow {
  right: -4px; }

#post-nav span.prev:hover {
  left: -3px; }

#post-nav span.next:hover {
  right: -3px; }

@media screen and (max-width: 540px) {
  #header {
    margin-bottom: 40px; }

  h1 {
    font-size: 17px; } }
@media screen and (max-width: 440px) {
  #thumbnails a:nth-child(n) {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    display: inline-block;
    float: none; }

  a#docs {
    display: none; }

  #thumbnails a:first-child {
    margin-top: 0; }

  #header {
    text-align: center;
    margin-bottom: 0; } }
h1 {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 48px; }

a, a:hover {
  text-decoration: none; }

#header {
  margin-bottom: 100px;
  padding-top: 80px;
  border: none; }
  #header h1 {
    padding-bottom: 12px;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: 300; }
  #header h2 {
    font-family: "Arbutus Slab", Georgia, serif;
    font-size: 18px; }

.project {
  padding-top: 80px; }
  .project:first-child {
    padding-top: 0; }
  .project:last-child {
    margin-bottom: 80px; }
  .project .featured {
    width: 100%;
    margin-bottom: 40px; }
  .project p {
    margin-bottom: 16px; }
  .project .header {
    margin-bottom: 40px; }
  .project .project-data {
    margin-bottom: 60px; }
    .project .project-data h2 {
      margin-bottom: 4px;
      color: black;
      font-family: "Arbutus Slab", Georgia, serif;
      font-size: 36px; }
    .project .project-data h3 {
      margin-bottom: 24px;
      color: black;
      font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
      font-size: 18px;
      font-weight: 400; }
    .project .project-data ul li {
      margin-bottom: 12px;
      list-style: none;
      font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
      font-size: 18px; }
      .project .project-data ul li span {
        display: block;
        color: gray;
        font-family: "Arbutus Slab", Georgia, serif;
        font-size: 12px;
        text-transform: uppercase;
        line-height: 24px; }
        .project .project-data ul li span.role::before {
          content: 'Role'; }
        .project .project-data ul li span.website::before {
          content: 'Website'; }
        .project .project-data ul li span.year::before {
          content: 'Year'; }
  .project .project-description {
    margin-bottom: 60px; }
    .project .project-description p {
      font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
      font-size: 18px;
      font-weight: 300;
      line-height: 24px; }
  .project .images img {
    width: 100%; }
  .project .container .row.last {
    margin-bottom: 80px; }

#project-future-icons .images img {
  margin: 0; }

#project-evo .images img {
  margin-bottom: 24px;
  border: 1px solid rgba(0, 0, 0, 0.24); }

#about .container .text {
  padding: 80px;
  background: rgba(0, 0, 0, 0.04);
  color: #222; }
  #about .container .text p {
    margin-bottom: 12px; }
#about h2 {
  margin-bottom: 12px;
  font-family: "Arbutus Slab", Georgia, serif;
  font-size: 36px; }
#about p {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 300; }
  #about p strong {
    font-weight: 700; }

.contact {
  display: inline-block;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400; }

#footer {
  margin-top: 40px;
  padding: 40px 0;
  font-size: 14px; }
  #footer .contact {
    margin-left: 8px;
    font-size: 14px; }
  #footer .copyright {
    color: #bbb; }

/*# sourceMappingURL=style.css.map */
