{% extends "base.html" %}
{% block content %}

	<section id="wrapper">
		<div class="container">
			<div id="header" class="row">
				<div class="col-md-6 col-md-offset-1">
					<div class="logo">
						<img src="{% static '/images/logo.png' %}" alt="logo">
					</div>

					<header class="brand">
						<h1>{% block title %}{{ block.super }}{% endblock title %}</h1>
						<h2>UX, UI Motion Designer &amp; Prototyper</h2>
					</header>
				</div>

				<div class="col-md-4">
					{% include 'bit/contact.html' %}
				</div>
			</div>
		</div>

		<section id="projects" class="clearfix">
			{% for post in posts %}
				<div id="project-{{ post.id }}" class="project">{{ post.body }}</div>
			{% endfor %}
		</section>

		<section id="about">
			{% include 'bit/about.html' %}
		</section>

		{% block footer %}
				{% include 'bit/footer.html' %}
		{% endblock footer %}
	</section>

{% endblock content %}
