{% extends "base.html" %}
{% block content %}

	<section id="wrapper">
		<a id="docs" href="http://cactusformac.com/redirect/#documentation">Documentation</a>

		<div class="container">
			<div id="header" class="row">
				<div class="col-sm-5 col-sm-offset-1">
					<header id="brand">
						<h1>{% block title %}{{ block.super }}{% endblock title %}</h1>
						<h2>UX, UI Motion Designer &amp; Prototyper</h2>
					</header>
				</div>
				<div class="col-sm-5 text-right">
					{% include 'bit/contact.html' %}
				</div>
			</div>
		</div>

		<section id="projects" class="clearfix">
			{% for post in posts %}
				<div id="project-{{ post.id }}" class="post">{{ post.body }}</div>
			{% endfor %}
		</section>

		<section id="about">
			{% include 'bit/about.html' %}
		</section>

		{% block footer %}

				{% include 'bit/footer.html' %}

		{% endblock footer %}
	</section>

{% endblock content %}
